/*PEN STYLES*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 25px gray;
  margin: 0 auto 5.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 92%;
  

    
}
.blog-card:hover .details {
  left: 0;
}
.blog-card:hover.alt .details {
  right: 0;
}
.blog-card.alt .details {
  right: -100%;
  left: inherit;
}
.blog-card .photo {
  height: 200px;
  position: relative;
}
.blog-card .photo.photo1 {
  background: url("http://i68.tinypic.com/33x8rc8.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo2 {
  background: url("http://i63.tinypic.com/2mdf0g9.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo3 {
  background: url("http://i66.tinypic.com/oj476s.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo4 {
  background: url("http://i67.tinypic.com/2u73tc3.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo5 {
  background: url("http://i65.tinypic.com/2i7qng0.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo6 {
  background: url("http://i68.tinypic.com/14bi1j6.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo7 {
  background: url("http://i65.tinypic.com/2j4pnw8.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo8 {
  background: url("http://i65.tinypic.com/dpvnk8.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo8 {
  background: url("http://i65.tinypic.com/dpvnk8.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo9 {
  background: url("http://i63.tinypic.com/34859qo.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo10 {
  background: url("http://i63.tinypic.com/bebjia.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo11 {
  background: url("http://i67.tinypic.com/2hwis2c.jpg") center no-repeat;
  background-size: cover
      ;
}
.blog-card .photo.photo12 {
  background: url("http://i64.tinypic.com/29e38ua.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo14 {
  background: url("http://i68.tinypic.com/o6wjlu.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo15 {
  background: url("http://i66.tinypic.com/2aextah.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo16 {
  background: url("http://i63.tinypic.com/33w1tar.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo17 {
  background: url("http://i65.tinypic.com/23ktc10.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo13 {
  background: url("http://i65.tinypic.com/2vs3wqt.jpg") center no-repeat;
  background-size: cover;
}





.blog-card .details {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans";
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  height: 200px;
  /*POSITION*/
  position: absolute;
  top: 0;
  left: -100%;
}
.blog-card .details > li {
  padding: 3px 0;
}
.blog-card .details li:before, .blog-card .details .tags ul:before {
  font-family: FontAwesome;
  margin-right: 10px;
  vertical-align: middle;
}
.blog-card .details .author:before {
  content: "\f007";
}
.blog-card .details .date:before {
  content: "\f133";
}
.blog-card .details .tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-card .details .tags ul:before {
  content: "\f02b";
}
.blog-card .details .tags li {
  display: inline-block;
  margin-right: 3px;
}
.blog-card .details a {
  color: inherit;
  border-bottom: 1px dotted;
}
.blog-card .details a:hover {
  color: #75D13B;
}
.blog-card .description {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.blog-card .description h1 {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1em;
  margin: 0 0 10px 0;
}
.blog-card .description h2 {
  color: #0008ce;
  font-family: "Open Sans";
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  margin: 1.2% 0;
}
.blog-card .description p {
  position: relative;
  margin: 0;
  padding-top: 20px;
}
.blog-card .description p:after {
  content: "";
  background: #fa2600;
  height: 6px;
  width: 50px;
  /*POSITION*/
  position: absolute;
  top: 6px;
  left: 0;
}
.blog-card .description a {
  color: #db1313;
  margin-bottom: 10px;
  float: right;
}
.blog-card .description a:after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
}
.blog-card .description a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .blog-card {
    height: 200px;
    max-width: 600px;
  }
  .blog-card:hover .photo {
    -webkit-transform: rotate(5deg) scale(1.3);
            transform: rotate(5deg) scale(1.3);
  }
  .blog-card:hover.alt .photo {
    -webkit-transform: rotate(-5deg) scale(1.3);
            transform: rotate(-5deg) scale(1.3);
  }
  .blog-card.alt .details {
    padding-left: 30px;
  }
  .blog-card.alt .description {
    float: right;
  }
  .blog-card.alt .description:before {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
    right: -15px;
    left: inherit;
  }
  .blog-card.alt .photo {
    float: right;
  }
  .blog-card .photo {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    height: 100%;
    width: 40%;
  }
  .blog-card .details {
    width: 40%;
  }
  .blog-card .description {
    float: left;
    width: 60%;
    z-index: 0;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
    
    
}

